
<div class="columns is-centered">
  <div class="column is-4">
    <div class="card">
      <div class="card-header">
        <h1 class="card-header-title">Update Profile</h1>
      </div>
      <div class="card-content">
        <%= form_tag update_profile_path, method: 'put' do %>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <%= text_field_tag 'user[name]', @user.name, class: "input" %>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <%= text_field_tag 'user[email]', @user.email, class: "input" %>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
