<div class="columns is-centered">
  <div class="column is-4">
    <div class="card">
      <div class="card-header">
        <h1 class="card-header-title">Create An Account</h1>
      </div>
      <div class="card-block">
        <% if @user.errors.present? %>
          <ul class="user-erros"?
            <% @user.errors.full_message.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
        <%= render "users/account_create", user: @user %>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
