@import "bulma";
@import "home";
@import "sessions";
@import "users";
@import "font-awesome";
@import "posts";

.post.card{
  margin-bottom: 1em;
  
  i.fa{
    margin-right: 5px; 
  }
}

.icon .fa {
  font-size: 21px;
  margin-right: 7px;
}

.is-liked {
  color: aqua !important;
}
