@import "bulma-variables";
@import "bulma";
@import "home";
@import "sessions";
@import "users";
@import "font-awesome";
@import "posts";
@import "profiles";


.navbar {
  height: 3.25rem;
  background-color: #fcff4f;
}

.post.card{
  margin-bottom: 1em;
  
  i.fa{
    margin-right: 5px; 
  }
}

.icon .fa {
  font-size: 21px;
  margin-right: 7px;
}

.is-liked {
  color: #F9C13A !important;
}


.column.is-6 {
  background-color: rgba(199, 199, 199, 0.32);
}

.column.is-4 {
  background-color: rgba(199, 199, 199, 0.32);
}

.hidden {
  display:none;
}

.nested-menu:hover {
  > ul {
    display: block;
  }
}

.body{
  background-color:rgba(199, 199, 199, 0.32) !important;
}