@import "bulma-variables";
@import "bulma";
@import "home";
@import "sessions";
@import "users";
@import "font-awesome";
@import "posts";

.navbar {
  height: 3.25rem;
  background-color: #fcff4f;
}

.post.card{
  margin-bottom: 1em;
  
  i.fa{
    margin-right: 5px; 
  }
}

.icon .fa {
  font-size: 21px;
  margin-right: 7px;
}

.is-liked {
  color: #F9C13A !important;
}


.column.is-6.is-offset-1 {
  background-color: yellow;
}

.column.is-3 {
  background-color: pink;
}