// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav { 
  height: 40px;
  background-color: lightblue;
}

.logo{
  text-align: left; 
  margin-bottom: 50px;
  margin-left: 15px;
}
