.title {
  color: #363636;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.125;
}

small {
  font-size: 12px;
}


.card-content {
  padding: 8px;
}

.media-content{
  max-width: 100%;
}

nav.level {
  background-color: white;
}


.is-liked {
  color: black !important;
  margin-right: 10px;
}

.js-like-comment {
  margin-right: 10px;
}


